name: CI CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101

      - name: Dotnet restore packages
        run: dotnet restore
        
      - uses: actions/cache@v2
        with:
          path: | 
            ~/.nuget/packages
            !~/.nuget/packages/unwanted
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
            
      - name: Dotnet build
        run: dotnet build --configuration release --no-restore
      
      - name: Dotnet publish
        run: dotnet publish --configuration release --no-build --no-restore -o testApp
      
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          context: .
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: arjun2364/test
          tag_with_ref: true
          
      
