name: CI CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101

      - name: Dotnet restore packages
        run: dotnet restore
        
      - uses: actions/cache@v2
        with:
          path: | 
            ~/.nuget/packages
            !~/.nuget/packages/unwanted
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
            
      - name: Dotnet build
        run: dotnet build --configuration release --no-restore
      
      - name: Dotnet publish
        run: dotnet publish --configuration release --no-build --no-restore -o testApp
      
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: arjun2364/test:latest
          
      - name: ls -a via ssh
        uses: fifsky/ssh-action@master
        with:
          command: "${GITHUB_WORKSPACE}/dockerRun.sh"
          host: ${{ secrets.SSH_HOST }}
          user: arjun
          key: ${{ secrets.SSH_PRIVATE_KEY}}
